.contactCont {
    /* padding: 3rem 12rem !important; */
}

.formBack .under-lg::before{
    width:90%;
    left:5%;
}

.contact-fields {
    margin-bottom: 2rem;
}

.formBack {    
    width: 45%;
}

.formBack form{
    width: 100%;
    display:block;
    margin:auto;
}

.formBack form label{
    color: rgb(200,200,200);
    font-weight: 600;
}

.formInput {
    width: 100%;
    height: 3rem;       
    margin-bottom: 1.6rem;
    margin-top: 4px;
    padding: 0 1rem;
    background-color: transparent;
    border: 1px solid rgb(49, 49, 49);
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}

.formInput:focus,
.formInput:hover {
    border-color: rgb(19, 136, 242);
}


#contactMessage {
    min-height: 100px;
    resize: none;
    padding: 2%;
}

#contactMessage::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
}

.formSubmit { 
    width: 100%;   
    margin-top: 8%;
    border: 0;
    border-radius: 10px;    
    background: linear-gradient(90deg, rgb(10, 13, 16), var(--lightblue), rgb(10, 13, 16));
    background-size: 200% 200%;
    color: white;
    transition: all 0.3s ease;
}

.formSubmit:hover{
    background-position: 100% 0;
}

@media screen and (min-width: 1440px) {
    
}

@media screen and (max-width: 720px) {
    #contact.page{
        flex-direction: column-reverse;
    }

    .address, .formBack{
        width: 90%;
    }

    .formBack{
        margin-bottom: 2rem;
    }

    .address{
        position: relative;
    }

    .address::before{
        position: absolute;
        content: "";
        top: -1.5rem;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: rgb(40,40,40);
    }

    .socialLink{
        justify-content: center;
        gap: 1rem;
    }
}


