.hireForm{
    max-width: 1080px;
    margin: auto;
}

.hiretop-row{
    gap: 1rem;
}

.hireInp {
    width: 100%;
    flex: 1;
    margin: 1% 0;
    margin-bottom: 1rem;
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 8px;
    min-height: 40px;
    outline: 1px yellow;
    padding: 0 2%;
    font-size: 16px !important;
}

.hireInp:hover {
    border-color: tomato;
}

.hireInp:focus {
    border-color: var(--lightblue);
}


.checkService {
    width: 100%;
    height: auto;
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
    border: 0;
}

.customCheckbox {
    all: unset;
    height: 40px;
    flex: 1;
    position: relative;
    display: block;
}

.customCheckbox:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 96%;
    height: 75%;
    border-radius: 8px;
    background-color: var(--lightblue);
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checked::before {
    background-color: rgb(30, 30, 30);
    /* color: black; */
    border: 0;
    box-shadow: 0px 0px 2px 2px var(--lightblue);
}

.checkService .customCheckbox:nth-child(1)::before {
    content: "Web Development";
}

.checkService .customCheckbox:nth-child(2)::before {
    content: "Software Development";
}

.checkService .customCheckbox:nth-child(3)::before {
    content: "Graphic Design";
}

.budget {
    display: none;
}

#customService {
    padding-top: 1%;
    height: 100px;
    resize: none;
}

#hireme{
    padding: 1rem;
    font-size: 1.2rem !important;
    font-weight: bold;
}



@media screen and (max-width: 720px) {
    .checkService {
        flex-direction: column;
    }
}