.menu {
    display: none;
}

.menuBtn {
    display: none;
}

@media screen and (max-width :720px) {
    .menuBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 6px;
    }

    .menu {
        display: flex;
        position: absolute;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        left: 0;
        bottom: 100%;
        width: 100%;
        height: auto;
        padding: 2% 0 0 0;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(8px) !important;
        z-index: 100;

        transition: all 0.3s ease;
    }

    /* menu bar */
    .menu li {
        padding: 8px 0%;
        padding-left: 4%;
        width: 96%;
        list-style: none;
    }

    .menu li a{
        padding: 8px 12px;
    }


    * {
        font-size: 15px;
    }




    nav .menu-btn {
        display: block;
    }

    nav {
        height: 50px;
        justify-content: space-between;
    }

    nav .center {
        /* display: none; */
        border-radius: 10px;
        padding: 0 2rem;
    }

    nav .center li:not(.projects-link) {
        display: none;
    }

    nav .hireme-btn {
        display: none;
    }

    nav .menu-btn .menu .hireme-btn{
        display: block;
        padding-top: 0;
    }

    nav .menu-btn .menu .hireme-btn .button{
        padding: 0.6rem 0;
    }

    nav .menu-btn {
        height: 50%;
        aspect-ratio: 1;
        padding: 4px 0;
    }

    nav .menu-btn input {
        display: none;
    }

    nav .menu-btn span {
        width: 100%;
        height: 2px;
        border-radius: 100px;
        background-color: white;
        transition: all 0.3s ease;

        z-index: 110;
    }

    .menu-btn label {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;
        z-index: 100;
    }

    nav .menu-btn input:checked+label span:nth-child(1) {
        transform: translateY(4px) rotate(45deg);
    }

    nav .menu-btn input:checked+label span:nth-child(2) {
        display: none;
    }

    nav .menu-btn input:checked+label span:nth-child(3) {
        transform: translateY(-4px) rotate(-45deg);
    }

    #menu-toggle:checked~#menu {
        transform: translateY(calc(100% + 50px));
    }


    nav a {
        font-size: 14px;
        padding: 0 8px;
    }




    .under-lg {
        margin-top: 2%;
    }

    .under-lg::before {
        width: 90%;
        margin: 0 5%;
        height: 5px;
        bottom: -1rem;
    }



















    .profile-photo {
        width: 40%;
    }

    #home {
        margin-top: 6%;
        flex-direction: column;
        padding: 2%;
    }

    .left {
        width: 100%;
        order: 2;
        margin-top: 12%;
    }

    .right {
        width: 100%;
        order: 1;
        margin: 0;
        padding: 0;
    }

    #resgal {
        margin-bottom: 6%;
        gap: 8px !important;
    }

    .button {
        margin: 3% 0;
        font-size: 15px;
    }

    .socialLink div {
        height: 40px;
        width: 40px;
        margin: 5px;
    }

    .my-name {
        font-size: 28px;
    }

    .bold18 {
        font-size: 16px;
    }


    

    /*projects*/

    .project-cont {
        /* padding: 0 4%; */
        margin-bottom: 0%;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }

    .projectItem {
        margin-bottom: 10%;
    }



    /* newsletter section */
    /* #newsLetter {
        flex-direction: column;
    }

    .newsCont {
        width: 100%;
        margin-bottom: 10%;
    }

    #newsFormBack {
        width: 100%;
    }

    .newsInp {
        margin-bottom: 4% ! important;
    } */



    /*contact*/

    /* .contactCont {
        flex-direction: column;
    }

    .leftContact {
        width: 100%;
        padding: 0 5%;
        margin-bottom: 10%;
        margin-top: 8%;
    }

    .formBack {
        width: 100%;
        margin-bottom: 6%;
    }

    .formInput {
        width: 80%;
        margin: 0% 8%;
        margin-bottom: 6%;
    }


    .formLabel {
        margin-left: 8%;
    } */

    
    
    /* innovation section */
    #innovationProjectsCont {
        grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    }

    .innovationCont {
        flex-direction: column;
    }

    .mianGalLeftSide {
        width: 100%;
    }

    .comments {
        width: 100%;
        margin-left: 0;
        margin-top: 2%;
    }

}







































/* media 300px */

@media screen and (max-width:300px) {
    p {
        font-size: 16px;
    }

    .menu {
        position: relative;
    }

    .navDown {
        animation: none;
    }

    .navUp {
        animation: none;
    }

    nav {
        height: 40px;
    }

    .under-lg::before {
        bottom: -1rem;
    }

    nav li:nth-child(1) {
        margin-left: 1%;
    }

    nav li:last-child {
        margin-right: 1%;
    }

    nav li:nth-child(2) {
        display: none;
    }

    nav li:nth-child(3) {
        display: none;
    }

    nav li:nth-child(4) {
        display: none;
    }

    nav li:nth-child(5) {
        display: none;
    }

    nav li:nth-child(6) {
        display: none;
    }

    nav li:nth-child(1) a {
        font-size: 14px;
    }

    .socialLink div {
        height: 40px;
        width: 40px;
        margin: 5px;
    }

    .button {
        width: 60px;
    }

    .innovation {
        justify-content: center;
        width: 100%;
    }

    .innovation .button {
        width: 35%;
    }

    .bold18 {
        font-size: 14px;
    }


    /*skills*/
    .skillsCont {
        grid-template-columns: repeat(1, 100%);
    }


    /*projects*/

    .project-cont {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    @media screen and (max-width:200px) {
        .project-cont {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }
    }


    /*services*/
    #servCont {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    /*contact*/
    .contactSocialsChildMgB {
        word-wrap: break-word;
    }


    /*hireme*/

    .checkService {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

}