.project-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
}
/* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: min-content;
    gap: 30px; */

.projectItem {
    width: 200px;
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border: 1px solid var(--lightblue);
    border-radius: 8px;
}

.projectImg {
    width: 100%;
    aspect-ratio: 16/9;
    border: 1px solid grey;
    margin-bottom: 2%;
}

.projectInfo {
    width: 100%;
}

.projectTitle {
    font-weight: bold;
}

.projectLang,
.projectTitle,
.projectDesc {
    margin-bottom: 2%;
}
