.resumeImage {
    display: block;
    width: 65%;
    margin: auto;
    margin-top: 3%;
}

iframe {
    width: 100vw;
    height: 100vh;
    border: 0;
    background-color: transparent !important;
}

#pdf-container {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    margin-top: 1.4rem;
    height: 100vh;
    background-position: center 5%;
    background-repeat: no-repeat;
    background-size: 90%;
}