.skillsCont {
    grid-template-columns: repeat(3, 32%);
}


.skillsCont {
    /* width: calc(100% - 48px); */
    /* padding: 80px;
    margin: 24px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.3); */
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-columns: repeat(auto-fill, 260px);
    gap: 100px;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease;
    padding: 80px 0px;

    background-color: rgba(100, 0, 0, 0.2);


    .container {
        width: 260px;
        height: 260px;
        border-radius: 50%;
        cursor: pointer;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 6;
        box-shadow: 0 0 0px 36px rgba(200, 200, 200, 0.4);
        transition: all 0.3s ease;
        transform-origin: center left;
    }

    .container.active {
        z-index: 100;
    }

    .blurred {
        filter: blur(4px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .icon {
        font-size: 36px;
        color: #333;
        margin-bottom: 10px;
    }

    .container h2 {
        font-size: 18px;
        font-weight: 500;
        color: #555;
        letter-spacing: 1px;
    }

    .container h1 {
        font-size: 22px;
        font-weight: 800;
        color: #222;
        margin-top: 5px;
    }

    .divider {
        margin: 10px 0;
        border-top: 2px dotted #aaa;
        width: 60px;
    }

    .container p {
        font-size: 14px;
        color: #777;
        padding: 0 20px;
    }



    /* skill wrapper */

    .skill-wrapper {
        max-width: 44%;
        display: flex;
        align-items: center;
        position: relative;

        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 12px;
        padding-right: 24px;

        border-radius: 100px;

        /* clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);*/

        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
        z-index: 1;
    }

    .skill-icon {
        height: 90px;
        aspect-ratio: 1;
        margin-right: 16px;
        border-radius: 60px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        z-index: 2;
    }

    .icon {
        font-size: 28px;
        color: #2f3640;
    }

    .info-box {}

    .info-box h3 {
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 600;
    }

    .info-box p {
        font-size: 14px;
        color: #dcdde1;
    }


    /* lines to connect skills to the category */
    .dot {
        position: absolute;
        width: 8px;
        height: 8px;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        background-color: red;
        z-index: 100;
    }

    .branch-line {
        position: absolute;
        width: 100px;
        height: 4px;
        background-color: white;
        transform-origin: left center;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
    }

    .tail-line::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background-color: white;
        transform: translate(-50%, -50%);
    }

    /* .end-line{
        
    } */

    .end-line::after,
    .center-line::after {
        position: absolute;
        content: "";
        top: 50%;
        right: -7px;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background-color: white;
        transform: translateY(-50%);
    }

}